.explore_button_container{
    margin: 19.2% 0 0 40%;
}

.explore_button:hover{
    box-shadow: 0 0 0 4rem #ffffff25;
    transition: ease-in-out 250ms;
}

.explore_button{
    width: 210px;
    height: 210px;
    /* margin: 25% 0 0 25%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.explore_text{
    color: #0B0D17;
    text-align: center;
    font-family: 'Bellefair';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}